@tailwind base;
@tailwind components;
@tailwind utilities;

.focusable {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-500 focus:ring-gray-200;
}

.nhl {
  background-color: #000000;
}

.anaheim-ducks {
  background-color: #ef5223;
}

.arizona-coyotes {
  background-color: #8b2a43;
}

.boston-bruins {
  background-color: #231f20;
}

.buffalo-sabres {
  background-color: rgb(0, 48, 135);
}

.calgary-flames {
  background-color: #e03a3e;
}

.carolina-hurricanes {
  background-color: #e13a3e;
}

.chicago-blackhawks {
  background-color: #e32739;
}

.colorado-avalanche {
  background-color: #8b2942;
}

.columbus-blue-jackets {
  background-color: #00285d;
}

.dallas-stars {
  background-color: #0b714c;
}

.detroit-red-wings {
  background-color: #ec2024;
}

.edmonton-oilers {
  background-color: #e56b1f;
}

.florida-panthers {
  background-color: #ce1d26;
}

.los-angeles-kings {
  background-color: #000000;
}

.minnesota-wild {
  background-color: #015836;
}

.montreal-canadiens {
  background-color: #be2f37;
}

.nashville-predators {
  background-color: #002d62;
}

.new-jersey-devils {
  background-color: #e13a3e;
}

.new-york-islanders {
  background-color: #00539b;
}

.new-york-rangers {
  background-color: #0161ab;
}

.ottawa-senators {
  background-color: rgb(218, 26, 50);
}

.philadelphia-flyers {
  background-color: #f4793e;
}

.pittsburgh-penguins {
  background-color: #000000;
}

.san-jose-sharks {
  background-color: #05535d;
}

.seattle-kraken {
  background-color: rgb(0, 22, 40);
}

.st-louis-blues {
  background-color: #0447a0;
}

.tampa-bay-lightning {
  background-color: #002868;
}

.toronto-maple-leafs {
  background-color: #003d78;
}

.vancouver-canucks {
  background-color: #002e56;
}

.vegas-golden-knights {
  background-color: #837150;
}

.washington-capitals {
  background-color: #cf132b;
}

.winnipeg-jets {
  background-color: #002e62;
}
