@tailwind base;
@tailwind components;
@tailwind utilities;

.focusable {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-500 focus:ring-gray-200
}

.neutral-primary {
  @apply bg-black text-white;
}

.anaheim-ducks-primary {
  background-color: #FC4C02;
  color: #FFFFFF;
}

.anaheim-ducks-secondary {
  background-color: #B9975B;
  color: #FFFFFF;
}

.anaheim-ducks-tertiary {
  background-color: #010101;
  color: #FFFFFF;
}

.arizona-coyotes-primary {
  background-color: #010101;
  color: #FFFFFF;
}

.arizona-coyotes-secondary {
  background-color: #154734;
  color: #FFFFFF;
}

.arizona-coyotes-tertiary {
  background-color: #6F263D;
  color: #FFFFFF;
}

.boston-bruins-primary {
  background-color: #010101;
  color: #FFFFFF;
}

.boston-bruins-secondary {
  background-color: #FFB81C;
  color: #010101;
}

.boston-bruins-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.buffalo-sabres-primary {
  background-color: #003087;
  color: #FFFFFF;
}

.buffalo-sabres-secondary {
  background-color: #FFB81C;
  color: #010101;
}

.buffalo-sabres-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.calgary-flames-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.calgary-flames-secondary {
  background-color: #F1BE48;
  color: #010101;
}

.calgary-flames-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.carolina-hurricanes-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.carolina-hurricanes-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.carolina-hurricanes-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.chicago-blackhawks-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.chicago-blackhawks-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.chicago-blackhawks-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.colorado-avalanche-primary {
  background-color: #6F263D;
  color: #FFFFFF;
}

.colorado-avalanche-secondary {
  background-color: #236192;
  color: #FFFFFF;
}

.colorado-avalanche-tertiary {
  background-color: #A2AAAD;
  color: #010101;
}

.columbus-blue-jackets-primary {
  background-color: #041E42;
  color: #FFFFFF;
}

.columbus-blue-jackets-secondary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.columbus-blue-jackets-tertiary {
  background-color: #A2AAAD;
  color: #010101;
}

.dallas-stars-primary {
  background-color: #00843D;
  color: #FFFFFF;
}

.dallas-stars-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.dallas-stars-tertiary {
  background-color: #A2AAAD;
  color: #010101;
}

.detroit-red-wings-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.detroit-red-wings-secondary {
  background-color: #7C878E;
  color: #010101;
}

.detroit-red-wings-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.edmonton-oilers-primary {
  background-color: #FC4C02;
  color: #FFFFFF;
}

.edmonton-oilers-secondary {
  background-color: #041E42;
  color: #FFFFFF;
}

.edmonton-oilers-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.florida-panthers-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.florida-panthers-secondary {
  background-color: #041E42;
  color: #FFFFFF;
}

.florida-panthers-tertiary {
  background-color: #B9975B;
  color: #010101;
}

.los-angeles-kings-primary {
  background-color: #010101;
  color: #FFFFFF;
}

.los-angeles-kings-secondary {
  background-color: #A2AAAD;
  color: #010101;
}

.los-angeles-kings-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.minnesota-wild-primary {
  background-color: #154734;
  color: #FFFFFF;
}

.minnesota-wild-secondary {
  background-color: #A6192E;
  color: #FFFFFF;
}

.minnesota-wild-tertiary {
  background-color: #DDCBA4;
  color: #010101;
}

.montreal-canadiens-primary {
  background-color: #A6192E;
  color: #FFFFFF;
}

.montreal-canadiens-secondary {
  background-color: #001E62;
  color: #FFFFFF;
}

.montreal-canadiens-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.nashville-predators-primary {
  background-color: #FFB81C;
  color: #010101;
}

.nashville-predators-secondary {
  background-color: #041E42;
  color: #FFFFFF;
}

.nashville-predators-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.new-jersey-devils-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.new-jersey-devils-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.new-jersey-devils-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.new-york-islanders-primary {
  background-color: #003087;
  color: #FFFFFF;
}

.new-york-islanders-secondary {
  background-color: #FC4C02;
  color: #FFFFFF;
}

.new-york-islanders-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.new-york-rangers-primary {
  background-color: #0032A0;
  color: #FFFFFF;
}

.new-york-rangers-secondary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.new-york-rangers-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.ottawa-senators-primary {
  background-color: #010101;
  color: #FFFFFF;
}

.ottawa-senators-secondary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.ottawa-senators-tertiary {
  background-color: #B9975B;
  color: #010101;
}

.philadelphia-flyers-primary {
  background-color: #FA4616;
  color: #FFFFFF;
}

.philadelphia-flyers-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.philadelphia-flyers-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.pittsburgh-penguins-primary {
  background-color: #010101;
  color: #FFFFFF;
}

.pittsburgh-penguins-secondary {
  background-color: #FFB81C;
  color: #FFFFFF;
}

.pittsburgh-penguins-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.san-jose-sharks-primary {
  background-color: #006271;
  color: #FFFFFF;
}

.san-jose-sharks-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.san-jose-sharks-tertiary {
  background-color: #E57200;
  color: #FFFFFF;
}

.seattle-kraken-primary {
  background-color: #051C2C;
  color: #FFFFFF;
}

.seattle-kraken-secondary {
  background-color: #9CDBD9;
  color: #010101;
}

.seattle-kraken-tertiary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.st-louis-blues-primary {
  background-color: #003087;
  color: #FFFFFF;
}

.st-louis-blues-secondary {
  background-color: #FFB81C;
  color: #FFFFFF;
}

.st-louis-blues-tertiary {
  background-color: #041E42;
  color: #FFFFFF;
}

.tampa-bay-lightning-primary {
  background-color: #00205B;
  color: #FFFFFF;
}

.tampa-bay-lightning-secondary {
  background-color: #010101;
  color: #FFFFFF;
}

.tampa-bay-lightning-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.toronto-maple-leafs-primary {
  background-color: #00205B;
  color: #FFFFFF;
}

.toronto-maple-leafs-secondary {
  background-color: #A2AAAD;
  color: #010101;
}

.toronto-maple-leafs-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.vancouver-canucks-primary {
  background-color: #00205B;
  color: #FFFFFF;
}

.vancouver-canucks-secondary {
  background-color: #00843D;
  color: #FFFFFF;
}

.vancouver-canucks-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.vegas-golden-knights-primary {
  background-color: #B9975B;
  color: #FFFFFF;
}

.vegas-golden-knights-secondary {
  background-color: #333F48;
  color: #FFFFFF;
}

.vegas-golden-knights-tertiary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.washington-capitals-primary {
  background-color: #C8102E;
  color: #FFFFFF;
}

.washington-capitals-secondary {
  background-color: #041E42;
  color: #FFFFFF;
}

.washington-capitals-tertiary {
  background-color: #FFFFFF;
  color: #010101;
}

.winnipeg-jets-primary {
  background-color: #041E42;
  color: #FFFFFF;
}

.winnipeg-jets-secondary {
  background-color: #004C97;
  color: #FFFFFF;
}

.winnipeg-jets-tertiary {
  background-color: #A6192E;
  color: #FFFFFF;
}
